.whastsapp-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  
  .whastsapp-container-verified {
    text-align: center;
  }
  
  .edit-button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .edit-button:hover {
    background-color: #0056b3;
  }
  
  /* Add more specific styling for CountdownTimer and ToggleSwitch if needed */
  
  .edit-number {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f5f5f5;
  color: #333;
  font-weight: 500;
  margin-top: 5px;
}

.send-code-button {
  background-color: #4CAF50; /* Green color, you can change it */
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 5px;
  margin-left: 10px; /* Add margin to separate it from the input box */
}

.send-code-button:hover {
  background-color: #45a049; /* Darker green color on hover */
}

.send-code-container {
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.title-message{
  margin-top: 10px;
}
.title-whatsapp-container{

    margin-top: 10px;
}