/* messageCard.css */

.messageCard {
    max-width: 100%; /* Adjust the maximum width as needed */
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    text-align: center;
  }
  
  .messageCard-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .messageCard-container header {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 1.2;
  }
  
  .messageCard-container label {
    font-size: 18px;
    color: #555;
    display: block;
    margin-top: 10px;
    font-weight: 600;
  }
  
  .messageCard-container input[type="text"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f5f5f5;
    color: #333;
    font-weight: 500;
    margin-top: 5px;
  }
  
  .whastsapp-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
  }
  
  .whastsapp-container-verified {
    text-align: center;
  }
  
  .edit-button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .edit-button:hover {
    background-color: #0056b3;
  }
  
  /* Add more specific styling for CountdownTimer and ToggleSwitch if needed */
  
  .edit-number {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f5f5f5;
  color: #333;
  font-weight: 500;
  margin-top: 5px;
}

.send-code-button {
  background-color: #4CAF50; /* Green color, you can change it */
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 5px;
  margin-left: 10px; /* Add margin to separate it from the input box */
}

.send-code-button:hover {
  background-color: #45a049; /* Darker green color on hover */
}

.send-code-container {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

