/* Add these styles to the existing CSS */

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.login-card {
  box-shadow: 0 2px 4px rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  padding: 20px;
  width: 400px;
  min-width: fit-content;
  height: auto;
  background-color: #ffffff; /* Optional: Add a background color for the card */
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

.label {
  display: block;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 5px;
}

.input-field {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.login-button {
  width: 100%;
  padding: 12px;
  background-color: #000101;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px; /* Add some spacing between the button and icons */
}

.login-button:hover {
  background-color: #000000;
}

.icon-container {
  display: flex;
  justify-content: center;
  margin-top: 20px; /* Add some spacing between the icons and the button */
}

.login-icon {
  width: 50px;
  height: 50px;
  margin: 0 10px; /* Add some spacing between the icons */
  cursor: pointer;
  border-radius: 50%;
  background-color: #f0f0f0; /* Optional: Add a light background color for the icons */
  padding: 5px; /* Optional: Add some padding to the icons */
}

.login-forgotpassword{
 margin-top: 3px;
 padding: 10px;
}
.login-icon-container{
  padding: 5px;
  display: flex;
  justify-content: center;
}






.div-modal-notifications {
  background-color: #ffffff; /* Background color for the modal */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Box shadow for a subtle effect */
  text-align: center;
  width: 600px;
}

.div-modal-notifications h2 {
  font-size: 1.5rem; /* Font size for the heading */
  margin-bottom: 10px; /* Spacing below the heading */
  font-family: "Lucida Console", "Courier New", monospace;

}

.div-modal-notifications p {
  font-size: 20px; /* Font size for the paragraph */
  margin-bottom: 20px; /* Spacing below the paragraph */
  font-family: "Lucida Console", "Courier New", monospace;
}

.div-modal-notifications div {
  display: flex;
  justify-content: center; /* Center the buttons horizontally */
}

.div-modal-notifications button {
  background-color: #cccccc; /* Button background color */
  color: #ffffff; /* Button text color */
  border: none;
  padding: 10px 20px;
  /* Add more button styles as needed */
}

@media (max-width: 768px) {
  .div-modal-notifications {
    width: 90%;
    }
}
