.card-vest {
  border: 2px solid #fffafa;
  border-radius: 2px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  padding: 20px; 
  background-color: #e7efeb; 
  margin-bottom: 20px; 
  width: 240px; 
  height: 280px; 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; /* Center align horizontally */
  text-align: center;
  margin: 10px;
  font-family: 'Times New Roman', Times, serif;
  transition: transform 0.2s ease-in-out; /* Add smooth transform animation */
}

.card-vest:hover {
  transform: translateY(-5px); 
}

.button-card {
  background-color: #ff9900; 
  padding: 15px 50px;
  color: #fff;
  font-size: 16px;
  border: none;
  border-radius: 1px; 
  cursor: pointer;
  transition: background-color 0.3s ease-out, transform 0.2s ease-in-out; 
  filter: saturate(80%)
}
.button-card-green {
  background-color: #1adf2a; 
  padding: 15px 50px;
  color: #16a827;
  font-size: 16px;
  border: none;
  border-radius: 1px; 
  cursor: pointer;
  transition: background-color 0.3s ease-out, transform 0.2s ease-in-out; 
  filter: saturate(80%)
}
.button-card-green span:hover{
  display: none;
}
.button-card-green:hover:before {
  content: "Cancelar Inscrição";
}
.button-card-green:hover {
  background-color: #fa3c07; 
  transform: scale(1.15); 
  
}








.button-card:hover {
  background-color: #e68a00; 
  transform: scale(1.15); 
}

.card-text-part {
  padding: 10px; 
}
