/* Add these styles to the existing CSS */

.resetPassword-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
  }
  
  .resetPassword-card {
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    padding: 20px;
    width: 400px;
    min-width: fit-content;
    height: auto;
    background-color: #ffffff; /* Optional: Add a background color for the card */
  }
  
  .resetPassword-card h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .resetPassword-form-group {
    margin-bottom: 15px;
  }
  
  .resetPassword-form-group label {
    display: block;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .resetPassword-form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }
  
  .resetPassword-button {
    width: 100%;
    padding: 12px;
    background-color: #000101;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px; /* Add some spacing between the button and icons */
  }
  
  .resetPassword-button:hover {
    background-color: #000000;
  }
  


  .div-modal-notifications {
    background-color: #ffffff; 
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
    text-align: center;
    width: 600px;
  }
  
  .div-modal-notifications h2 {
    font-size: 1.5rem; 
    margin-bottom: 10px; 
    font-family: "Lucida Console", "Courier New", monospace;
  
  }
  
  .div-modal-notifications p {
    font-size: 20px; 
    margin-bottom: 20px; 
    font-family: "Lucida Console", "Courier New", monospace;
  }
  
  .div-modal-notifications div {
    display: flex;
    justify-content: center; 
  }
  
  .div-modal-notifications button {
    background-color: #cccccc; 
    color: #ffffff; 
    border: none;
    padding: 10px 20px;
    /* Add more button styles as needed */
  }
  
  @media (max-width: 768px) {
    .div-modal-notifications {
      width: 90%;
      }
  }
  