
.main-navbar-user {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 7px 0px;
  height: auto;
  min-height: 8vh;
  width: 100vw !important; 
  animation: changeColor 25s linear infinite; /* Change colors every 5 seconds */

}

@keyframes changeColor {
  0% {
    background-color: #0d857f;
  }
  25% {
    background-color: #0c6a54; 
  }
  50% {
    background-color: rgb(9, 74, 84); 
  }
  75% {
    background-color: #0e8267; 
  }
  100% {
    background-color: #063632;
  }
}


.navbar-logo h2 {
  margin-bottom: 0; 
  font-family: "Lucida Console", "Courier New", monospace;
  animation: title 25s linear infinite;


}

@keyframes title {
  0% {
    color: #051637;
  }
  25% {
    color: #0fa365; 
  }
  50% {
    color: rgb(13, 121, 138); 
  }
  75% {
    color: #0e8267; 
  }
  100% {
    color: #0dada0;
  }
}
.navbar-menu ul {
  list-style: none;
  display: flex;
}

.navbar-menu li {
  margin-right: 20px; 
}

.navbar-menu a {
  text-decoration: none;
  color: #fff; 
  font-weight: bold;
  transition: color 0.3s; 
}

.navbar-menu a:hover {
  color: #007bff; 
}


.navbar-user {
  position: relative;
}

.user-icon {
  cursor: pointer;
  font-size: 24px;
}


.user-dropdown {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #fff; 
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  z-index: 100;
  width: 150px;
  border-radius: 5px;
}

.user-dropdown.active {
  display: block;
}

.user-dropdown ul {
  list-style: none;
  padding: 0;
}

.user-dropdown li {
  padding: 10px;
  border-bottom: 1px solid #eee;
}

.user-dropdown li:last-child {
  border-bottom: none;
}

.user-dropdown a {
  text-decoration: none;
  color: #333;
  display: block;
}

.user-dropdown a:hover {
  background-color: #f0f0f0;
}

/* Responsive styles */
@media screen and (max-width: 768px) {
  .main-navbar-user {
    flex-direction: column;
  }
  
  
}
