/* Add these styles to the existing CSS */

.ForgotPassword-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
  }
  
  .ForgotPassword-card {
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    padding: 20px;
    width: 400px;
    min-width: fit-content;
    height: auto;
    background-color: #ffffff; /* Optional: Add a background color for the card */
  }
  
  .ForgotPassword-card h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .ForgotPassword-form-group {
    margin-bottom: 15px;
  }
  
  .ForgotPassword-form-group label {
    display: block;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .ForgotPassword-form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }
  
  .forgotPassword-button {
    width: 100%;
    padding: 12px;
    background-color: #000101;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px; /* Add some spacing between the button and icons */
  }
  
  .forgotPassword-button:hover {
    background-color: #000000;
  }
  






