/* Add these styles to the existing CSS */

.ForgotPassword-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
  }
  
  .ForgotPassword-card {
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    padding: 20px;
    width: 400px;
    min-width: fit-content;
    height: auto;
    background-color: #ffffff; /* Optional: Add a background color for the card */
  }
  
  .ForgotPassword-card h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .ForgotPassword-form-group {
    margin-bottom: 15px;
  }
  
  .ForgotPassword-form-group label {
    display: block;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .ForgotPassword-form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }
  
  .forgotPassword-button {
    width: 100%;
    padding: 12px;
    background-color: #000101;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px; /* Add some spacing between the button and icons */
  }
  
  .forgotPassword-button:hover {
    background-color: #000000;
  }
  






.div-modal-notifications {
  background-color: #ffffff; /* Background color for the modal */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Box shadow for a subtle effect */
  text-align: center;
  width: 600px;
}

.div-modal-notifications h2 {
  font-size: 1.5rem; /* Font size for the heading */
  margin-bottom: 10px; /* Spacing below the heading */
  font-family: "Lucida Console", "Courier New", monospace;

}

.div-modal-notifications p {
  font-size: 20px; /* Font size for the paragraph */
  margin-bottom: 20px; /* Spacing below the paragraph */
  font-family: "Lucida Console", "Courier New", monospace;
}

.div-modal-notifications div {
  display: flex;
  justify-content: center; /* Center the buttons horizontally */
}

.div-modal-notifications button {
  background-color: #cccccc; /* Button background color */
  color: #ffffff; /* Button text color */
  border: none;
  padding: 10px 20px;
  /* Add more button styles as needed */
}

@media (max-width: 768px) {
  .div-modal-notifications {
    width: 90%;
    }
}
