/* Add these styles to the existing CSS */

.signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.signup-card {
  box-shadow: 0 2px 4px rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  padding: 20px;
  width: 400px;
  min-width: fit-content;
  height: auto;
  background-color: #ffffff; /* Optional: Add a background color for the card */
}

.signup-card h2 {
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 2rem;
  font-size: 25px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  color: #060000;
}

.form-group {
  margin-bottom: 15px;
}

.label {
  display: block;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 5px;
}

.input-field {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}


.signup-button:hover {
  background-color: #000000;
}

.icon-container {
  display: flex;
  justify-content: center;
  margin-top: 20px; /* Add some spacing between the icons and the button */
}

.signup-icon {
  width: 50px;
  height: 50px;
  margin: 0 10px; /* Add some spacing between the icons */
  cursor: pointer;
  border-radius: 50%;
  background-color: #f0f0f0; /* Optional: Add a light background color for the icons */
  padding: 5px; /* Optional: Add some padding to the icons */
}


.signup-icon-container{
  padding: 5px;
  display: flex;
  justify-content: center;
}



