.main-home-text {
    text-align: center;
    max-width: 60%;
    margin: 0 auto;
    height: 90vh;
    font-family: 'Your Chosen Font', sans-serif;
}

.main-home-text h3 {
    font-size: 35px;
    color: #000000;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    letter-spacing: 1px;
    transition: color 0.3s ease-in-out;
}

.main-home-text h3:hover {
    color: #ff6347; /* Change to a color of your choice on hover */
}

.main-home-text p {
    font-size: 20px;
    color: #000000;
    line-height: 1.6;
}


@media (max-width: 768px) {

    .main-home-text {
        text-align: center;
        max-width: 90%;
        margin: 0 auto;
        height: 90vh;
        font-family: 'Your Chosen Font', sans-serif;
    }
    
    .main-home-text h3 {
        font-size: 25px;
        color: #000000;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
        letter-spacing: 1px;
        transition: color 0.3s ease-in-out;
        margin-top: 100px;
     
    }
    
    .main-home-text h3:hover {
        color: #ff6347; /* Change to a color of your choice on hover */
    }
    
    .main-home-text p {
        font-size: 15px;
        color: #000000;
        line-height: 1.6;
    }
    .homepage-lasttext{
        padding-bottom: 100px;
    }
    

}