/* Information.css */

.contact-information-container {
    background-color: #0f2b4a;
    color: #fff;
    padding: 20px;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
    width: 100%;
    height:55vh;
    margin: 0 auto; /* Center the container horizontally */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .contact-information-items {
    display: flex;
    flex-direction: column;
    gap: 1.5em; /* Adjust the gap between items */
  }
  
  .contact-information-title {
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 2rem;
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    color: #060000;
  }
  
  .contact-information-item {
    font-size: 20px;
    display: flex; /* Display items as flex */
    align-items: center; /* Center items vertically */
  }
  
  .contact-information-item i {
    margin-right: 10px; /* Add margin to the right of the icon */
    font-size: 30px; /* Maintain the same icon size */
    color: #fff; /* Set icon color to white */
  }
  
  .contact-information-item a {
    color: #fff;
    text-decoration: none;
    transition: all 0.3s ease; /* Add transition effect */
    font-size: 20px; /* Maintain the same font size */
  }
  
  .contact-information-item a:hover {
    color: #f1c40f; /* Change color on hover */
  }
  
  @media (max-width: 768px) {
    .contact-information-container {
      height: auto;
    }

  }