.html{

  
    font-family: "Times New Roman", Times, serif;
    
}


.app{
    /*background-color: rgb(113, 36, 36);*/
    min-height: 100vh;
    height: max-content;
    margin-top: 0px;
    animation: backcolor 25s linear infinite; /* Change colors every 5 seconds */
 

}


@keyframes backcolor {

    0% {
        background-color: #ffffff; /* Pure white */
      }
      5% {
        background-color: #fcfcfc; /* Very light gray */
      }
      10% {
        background-color: #f8f8f8; /* Light gray */
      }
      15% {
        background-color: #f5f5f5; /* Light gray */
      }
      20% {
        background-color: #f2f2f2; /* Light gray */
      }
      25% {
        background-color: #efefef; /* Light gray */
      }
      30% {
        background-color: #ececec; /* Light gray */
      }
      35% {
        background-color: #e9e9e9; /* Light gray */
      }
      40% {
        background-color: #e6e6e6; /* Light gray */
      }
      45% {
        background-color: #e3e3e3; /* Light gray */
      }
      50% {
        background-color: #e0e0e0; /* Light gray */
      }
      55% {
        background-color: #dddddd; /* Light gray */
      }
      60% {
        background-color: #d9d9d9; /* Light gray */
      }
      65% {
        background-color: #d6d6d6; /* Light gray */
      }
      70% {
        background-color: #d3d3d3; /* Light gray */
      }
      75% {
        background-color: #d0d0d0; /* Light gray */
      }
      80% {
        background-color: #cccccc; /* Light gray */
      }
      85% {
        background-color: #c9c9c9; /* Light gray */
      }
      90% {
        background-color: #c6c6c6; /* Light gray */
      }
      95% {
        background-color: #c3c3c3; /* Very light gray */
      }
      100% {
        background-color: #ffffff; /* Pure white */
      }
    }